@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer components {
    .txt-appear-animation {
        animation: text-animation 2s;
    }

    @keyframes text-animation {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .button {
        display: inline-flex;
        align-items: center;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 32px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .button:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-2px);
    }
}
